table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 1em;
    font-weight: 400;
    color: #465e92;
}

button#submit{
    background-color:  rgb(70, 94, 146);
    color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
}
.add {
    text-align: center;
    margin-top: 20px;
}
.action {
    padding: 15px;
}