<h1 mat-dialog-title>{{action}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" ngDefaultControl matInput [(ngModel)]="local_data.title">
  </mat-form-field>
  <br>
  <label for="hours">Hours </label>
  <mat-form-field>
    <input type="number" ngDefaultControl matInput [(ngModel)]="local_data.hours">
  </mat-form-field>
  <br>
  <!-- <label for="employee_email">Employee email (readonly) </label>
  <mat-form-field>
    <input type="email" ngDefaultControl matInput [(ngModel)]="local_data.employee_email">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>